# Ignore virtual environment folder
venv/

# Other files and folders to ignore
*.pyc
.*
*.txt
*.pyc
*.faiss
*.db
documents
__pycache__/
*.json
logs/
archive/*
data/archive/*
data/*
rag/*
conformal/*

!data/raw/FactScore/names.txt
!*_schema.json